/* styles.css */
header {
    background-image: url('../Images/cs.jpg'); 
    background-size: cover; 
    background-position: center center; 
    color: white; 
    text-align: center;
    padding: 60px 20px; 
    background-attachment: fixed; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


body {
    font-family: 'Times New Roman', Times, serif, sans-serif; 
    background-color: #8292a3;
    margin: 0; 
    padding: 0;
    color: #333;
    padding-left:40px;
}

.project-link{
    background-color:#c599d9;
    width:100px;
    border-radius:10px;
    padding:10px;
    text-align:center;
    border-style:solid;
    border-width:2px;
    border-color:rgb(148, 11, 169);
}


.inspiration {
    padding: 10px;
    margin-top:40px;
    margin-bottom:40px;
    max-width: 900px;
    background-color: #c599d9;
    line-height:1.8;
    border-radius: 10px;
    border-color:rgb(148, 11, 169);
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inspiration h2{
    color:rgb(148, 11, 169)
}

.process h3{
    margin-top:40px;
    margin-bottom:20px;
}

.process p{
    text-indent: 30px;  /* Indent the first line of the paragraph by 30px */
    width: 80%;  /* Limit the width of the paragraph to 50% of its container */
    line-height: 1.8;
}

.features{
    margin-top:40px;
    margin-bottom:20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
}