header {
    background-image: url(../Images/volleyball.png);
    background-size: cover;
    background-position: center center; 
    color: white;
    text-align: center;
    padding: 50px 20px; 
    background-attachment: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}


body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #cbb4a3;
    background-image: url('../Images/green\ background.jpg');
    background-size: contain;
    margin: 50px; 
    line-height: 1.8;
    text-indent: 30px;
    color: #333;
    margin-bottom: 300px;
}

/* Story section */
.story {
    max-width: 1000px;
    margin: 0 auto; 
    padding: 20px;
}

/* Images */
.story img {
    max-width: 40%;
    height: auto;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    float: left; 
    margin-right: 20px;
    clear: both; 
}

/* Paragraph styling */
.story p {
    width: 100%;
    text-align: justify;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 20px;
}